<%= render "shared/second-header" %>

<div class="user-main">
  <div class="user-inner">
    <div class="form_wrapper">
      <h2 class="user-heading">ユーザー新規登録</h2>

      <%= form_with model: @user, url: user_registration_path, local: true do |f| %>

      <div class="field">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, class:"font-field", id:"user_email", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード（6文字以上）" %><br />
        <%= f.password_field :password, class:"font-field", id:"user_password", autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "パスワード再入力" %><br />
        <%= f.password_field :password_confirmation, class:"font-field", id:"user_password_confirmation", autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :nickname, "ニックネーム" %> <br />
        <%= f.text_field :nickname, id:"nickname", class:"font-nickname", autofocus: true, maxlength: "6" %>
      </div>

      <div class="field">
        <%= f.label :birthday, "生年月日" %><br />
        <div class='input-birth-wrap'>
          <%= raw sprintf(
                    f.date_select(
                      :birthday,
                      class:'select-birth',
                      id:"birth-date",
                      use_month_numbers: true,
                      prompt:'--',
                      start_year: 1930,
                      end_year: (Time.now.year - 5),
                      date_separator: '%s'),
                    "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
        </div>
      </div>

      <div class='actions'>
        <%= f.submit "会員登録" ,class:"form-btn" %>
      </div>

      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>