<header class="top-page-header">
  <div class="heading">
    <div class="inner">
      <div class="nav__left">
        <%= link_to "タイトルを入力", "#", class: "title" %>
      </div>
      <div class="user_nav">
        <ul class="user_info">
          <li>
            <%= link_to "マイページ", "#", class: "post" %>
            <%= link_to "ログアウト", "#", class: "post" %>
            <%= link_to 'ログイン', new_user_session_path, class: "post" %>
            <%= link_to '新規登録', new_user_registration_path, class: "post" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>