<%= render "shared/second-header" %>

<div class="user-main">
  <div class="user-inner">
    <div class="form_wrapper">
      <h2 class="user-heading">会員情報入力</h2>

      <%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>
      <%= render 'shared/error_messages', model: f.object %>
      
      <div class="field">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, class:"font-field", id:"user_email", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード（6文字以上）" %><br />
        <%= f.password_field :password, class:"font-field", id:"user_password", autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "ログイン", class:"form-btn" %>
      </div>
      
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>