<%= render "shared/header" %>
<div class='main'>

  <div class='first-view'>
    <!--「トップ画像」を表示する-->
    <%= image_tag "toptitle.png", class:"top-image" %>
    <!--画像内に見出しの表示-->
    <div class='title-contents'>
      <h2 class='service-title'>
        ライフスタイルに合った保険選び
      </h2>
      <p class='service-subtitle'>
        安心した毎日の暮らしへ
      </p>
      <p class='service-subtitle'>
        保険を知る第一歩。
      </p>
    </div>
  </div>

  <%# サイト概要の説明 %>
  <div class='select-main'>
    <div class='select-contents'>
      <h3 class='select-title'>
        Message
      </h3>
      <p class='select-text'>
        どのような保険があるのかわからない、他の人はどこの保険に加入しているのだろう？
        といった保険の悩みを解決します。<br>
        一般的な保険の種類や内容の解説を記載しております。また各保険分野において様々な人とコメントにて相談をすることができ,
        安心した人生設計へのお手伝いをいたします。
      </p>
    </div>
    <%# %保険とは解説 %>
    <div class='select-contents'>
      <h3 class='select-title'>
        保険とは
      </h3>
      <p class='select-text'>
        何気ない毎日、平和な日常はあたりまえにあるのではありません。<br>
        家族の誰かが不運にも急な事故や病気によって、死亡してしまったら？高額な治療費が必要となったら？
        人生におけるこのようなリスクは誰に対しても起こりうる可能性があります。<br>
        その万一の状況が起きてしまった時に自分たちだけの力で乗り越えられる人はなかなか多くありません。
        その場合に自分や家族を守るのは保険です。<br>
        また災害や将来の資産設計そのような心配事に備えることができるのも保険です。
        自分や家族を守るために保険について理解を深めていきましょう。
      </p>
    </div>
  </div>

  <div class='welcom-nickname'>
    <% if user_signed_in? %>
    <p class='nickaname-view'>ようこそ <%= current_user.nickname %> さん</p>
    <% end %>
  </div>

  <%# 保険一覧 %>
  <div class='item-contents'>
    <h3 class='select-insurance'>
      保険一覧
    </h3>
    <ul class='item-lists'>
      <% @items.each do |item| %>
        <li class='item-list'>
          <div class='item-info'>
            <div class='item-sub'>
              <%= link_to item.title, item_path(item.id), class: :item_none %>
            </div>
          </div>
          <div class='item-feature'>
            <%= link_to item.concept, item_path(item.id), class: :item_none %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<% if current_user == User.find_by(nickname: 'owner') %>
  <%= link_to "新規投稿", new_item_path, class: "purchase-btn" %>
<% end %>
<%= render "shared/footer" %>