<%= render "shared/header" %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.title %>
    </h2>
    <% if user_signed_in? %>
      <% if current_user.id == @item.user_id %>
        <div class="item-edit">
          <%= link_to "編集", edit_item_path, method: :get, class:"purchase-btn-red" %>
          <%= link_to "削除", item_path, method: :delete, class:"purchase-btn-red" %>
        </div>
      <% end %>
   <% end %>
  </div>
  <div class="item-page">
    <div class="item-show">
      <p class="content-list">特徴</p>
      <p class="item-detail">
      <%= @item.feature %>
      </p>
    </div>
    <div class="item-show">
      <p class="content-list">説明</p>
      <p class="item-detail">
      <%= @item.concept %>
      </p>
    </div>
    <div class="item-show">
      <p class="content-list">説明</p>
      <p class="item-detail">
      <%= @item.concept %>
      </p>
    </div>
    <div class="item-show">
      <p class="content-list">メリット</p>
      <p class="item-detail">
      <%= @item.merit %>
      </p>
    </div>
    <div class="item-show">
      <p class="content-list">デメリット</p>
      <p class="item-detail">
      <%= @item.demerit %>
      </p>
    </div>
  </div>
  <div class='container'>
    <% if user_signed_in? %>
      <%= form_with(model: [@item, @comment], class: 'form', local: true) do |form| %>
        <%= form.text_area :text, class: 'form-message', placeholder: "コメントする", rows: "2" %>
        <%= form.submit "SEND", class: 'form-submit' %>
      <% end %>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>