<%= render "shared/header" %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.title %>
    </h2>
    <% if user_signed_in? %>
      <% if current_user.id == @item.user_id %>
        <div class="item-edit">
          <%= link_to "編集", edit_item_path, method: :get, class:"purchase-btn-red" %>
          <%= link_to "削除", item_path, method: :delete, class:"purchase-btn-red" %>
        </div>
      <% end %>
        <div id="like-btn<%= @item.id %>">
        <% if @item.liked_by?(current_user)%>
          <%=link_to "お気に入り解除", item_likes_path(@item.id),  method: :delete, class: "item_likes" %>
        <% else %>
          <%=link_to "お気に入り登録", item_likes_path(@item.id), method: :post, class: "item_likes" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="item-page">
    <div class="item-show">
      <p class="content-list">説明</p>
      <p class="item-detail">
      <%= @item.concept %>
      </p>
    </div>
    <div class="item-show">
      <p class="content-list">特徴</p>
      <p class="item-detail">
      <%= @item.feature %>
      </p>
    </div>
    <div class="item-show">
      <p class="content-list">メリット</p>
      <p class="item-detail">
      <%= @item.merit %>
      </p>
    </div>
    <div class="item-show">
      <p class="content-list">デメリット</p>
      <p class="item-detail">
      <%= @item.demerit %>
      </p>
    </div>
  </div>
  <div class='comment-form'>
    <div class='comment-show'>
      <h4 class='comment-title'>チャットフォーム</h4>
      <% @comments.each do |comment| %>
        <div class='comment-text'>
          <p><%= comment.user.nickname %> : <%= comment.text %></p>
        </div>
      <% end %>
    </div>
    <div class='container'>
      <% if user_signed_in? %>
        <%= form_with(model: [@item, @comment], class: 'form', local: true) do |f| %>
        <div class='message-content'>
          <%= f.text_area :text, class: 'form-message', placeholder: "コメントする", rows: "2" %>
        </div>
        <div class='message-send'>
          <%= f.submit "SEND", class: 'form-submit' %>
        </div>
        <% end %>
      <% else %>
        <div class='comment-note'>
          ※チャット機能を利用するにはアカウントへログインしてください※
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>